body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Amatic';
  src: url(./fonts/AmaticSC-Bold.ttf) ;
}
@font-face {
  font-family: 'Snowburst';
  src: local('Snowburst' )url(./fonts/SnowburstOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Patrick.';
  src: url(./fonts/PatrickHand-Regular.ttf);
}
@font-face {
  font-family: 'Fedrick';
  src: url(./fonts/FrederickatheGreat-Regular.ttf);
}